
.list_skeleton{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skeleton-container {
    background-color: #242526;
    border-radius: 5px;
    margin-top: 24px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.skeleton-container:nth-child(1){
    background-color: #242526;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 0;

    display: flex;
    align-items: center;
}
.s1-skeleton {
    margin-right: 16px;
}

.icon-skeleton {
    background-color: #444444;
    height: 24px;
    width: 24px;
    border-radius: 12px;
}

.s2-skeleton {
    flex-grow: 1;
}

.delete-skeleton{
    background-color: #444444;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-bottom: 8px;
    position: relative;
    bottom: 26px;
    left: 11px;
}


.title-skeleton {
    background-color: #444444;
    height: 12px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 8px;
}



.text-skeleton {
    background-color: #444444;
    height: 7px;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 4px;
}

.text-skeleton:last-child {
    width: 80%;
}

.animate-skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: #444444;
    }
    100% {
        background-color: #44444450;
    }
}

@media (min-width : 300px) and (max-width: 374px){
    .list_skeleton{
        margin-top: 0px;
        position: relative;
        bottom: -26px;
    }
    .skeleton-container{
        width: 240px;
        height: 50px;
    }
    .delete-skeleton{
        position: relative;
        bottom: 14px;
        left: 13px;
    }
}

@media (min-width : 375PX) and (max-width: 424px){
    .list_skeleton{
        margin-top: 0px;
        position: relative;
        bottom: -26px;
    }
    .skeleton-container{
        width: 300px;
        height: 45px;
    }
    .delete-skeleton{
        position: relative;
        bottom: 14px;
        left: 13px;
    }
}
@media (min-width : 425PX) and (max-width: 550px){
    .list_skeleton{
        margin-top: 0px;
        position: relative;
        bottom: -26px;
    }
    .skeleton-container{
        width: 340px;
        height: 50px;
    }
    .delete-skeleton{
        position: relative;
        bottom: 14px;
        left: 13px;
    }
}

@media (min-width : 550PX) and (max-width: 768px){
    .list_skeleton{
        margin-top: 0px;
        position: relative;
        bottom: -26px;
    }
    .skeleton-container{
        width: 440px;
        height: 50px;
    }
    .delete-skeleton{

        position: relative;
        bottom: 14px;
        left: 13px;
    }
}
/* d */
@media (min-width: 769px) and (max-width: 820px){
    .list_skeleton{
        margin-top: 0px;
        position: relative;
        bottom: -26px;
    }
    .skeleton-container{
        width: 615.2px;
        height: 65px;
    }
}
@media (min-width: 820px) {
    .list_skeleton{
        margin-top: 0px;
        position: relative;
        bottom: -26px;
    }
    .skeleton-container{
        width: 656px;
        height: 75px;
    }

}