form {
    width: 90%;
    max-width: 50%;
    background-color: #18191a;
    padding: 33px 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 0px 40px;

    height: 190px;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


textarea {
    background-color: #242526;
    border: 2px solid #e7c100;
    border-radius: 5px;
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100%-25px);
    resize: none;
    color: #a5a5a5;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #e7c100;
}
textarea::placeholder {
    color: #a5a5a5;
    font-family: 'Montserrat';
    font-weight: 400;
}

.containerButtonModal{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.containerButtonModal button{
    display: block;
    margin: 10px 0px 0px 10px;
    background-color: #e7c100;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    color: black;
    width: 140px;
    height: 45px;
    font-family: 'Montserrat';
    font-weight: 400;
}
.message{
    margin: 0;
    color: red;
}



@media (min-width : 300px) and (max-width: 375px){

    textarea {
        font-size: 12px;
        height: 50px;
        width: 100%;
    }
    .containerButtonModal button:nth-child(1){
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 0px;
        font-size: 13px;
        width: 80px;
        height: 30px;
    }
    .containerButtonModal button:nth-child(2){
        margin-top: 10px;
        margin-left: 5px;
        font-size: 13px;
        width: 80px;
        height: 30px;
    }
    .message{
        font-size: 10px;
        padding-top: 10px;
    }
    form {
        padding: 25px 40px 4px 40px;
    }
}
@media (min-width : 375px) and (max-width: 425px){
    textarea {
        font-size: 12px;
        height: 50px;
        width: 100%;
    }
    .containerButtonModal button:nth-child(1){
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 0px;
        font-size: 13px;
        width: 80px;
        height: 30px;
    }
    .containerButtonModal button:nth-child(2){
        margin-top: 10px;
        margin-left: 5px;
        font-size: 13px;
        width: 80px;
        height: 30px;
    }
    .message{
        font-size: 10px;
        padding-top: 10px;
    }
    form {
        padding: 25px 40px 4px 40px;
    }
}
@media (min-width : 425px) and (max-width: 768px){
    textarea {
        font-size: 12px;
        height: 50px;
        width: 100%;
    }
    .containerButtonModal button:nth-child(1){
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 0px;
        font-size: 12px;
        width: 90px;
        height: 40px;
    }
    .containerButtonModal button:nth-child(2){
        margin-top: 10px;
        margin-left: 5px;
        font-size: 12px;
        width: 90px;
        height: 40px;
    }
    .message{
        font-size: 10px;
        padding-top: 10px;
    }
    form {
        padding: 25px 40px 4px 40px;
    }
}

@media (min-width : 768px) and (max-width: 1024px){

    textarea {
        font-size: 15px;
        height: 50px;
        width: 100%;
    }
    .containerButtonModal button:nth-child(1){
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 0px;
        font-size: 15px;
        width: 110px;
        height: 40px;
    }
    .containerButtonModal button:nth-child(2){
        margin-top: 10px;
        margin-left: 5px;
        font-size: 15px;
        width: 110px;
        height: 40px;
    }
    .message{
        font-size: 10px;
        padding-top: 10px;
    }
    form {
        padding: 25px 40px 4px 40px;

    }
}

@media (min-width : 1024px) and (max-width: 2500px){

    textarea {
        font-size: 20px;
        height: 50px;
        width: 100%;
        position: relative;
        bottom: 14px;
    }
    .containerButtonModal button:nth-child(1){
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 0px;
        font-size: 20px;
        width: 130px;
        height: 45px;
    }
    .containerButtonModal button:nth-child(2){
        margin-top: 10px;
        margin-left: 5px;
        font-size: 20px;
        width: 130px;
        height: 45px;
    }
    .message{
        font-size: 15px;
        padding-bottom: 2px;
    }
    form {
        padding: 25px 40px 4px 40px;
        height: 190px;
    }
}
