
.container_error1{
    background-color: #242526;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    padding: 10px;

    -webkit-box-shadow: -1px -1px 33px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 33px 9px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 33px 9px rgba(0,0,0,0.75);

    position: relative;
    bottom: -95px;
}

.tittle1{
    margin: 10px 0;
}

.img1{
    width: 100px;
}

@media (min-width : 320px) and (max-width: 375px){
    .container_error{
        width: 45%;
        height: 50px;
    }
    .tittle1{
        font-size: 10px;
    }
    .img1{
        width: 30px;

    }
}

@media (min-width : 375px) and (max-width: 425px){
    .container_error{
        width: 50%;
        height: 100px;
    }
    .tittle1{
        font-size: 15px;
    }
    .img1{
        width: 40px;

    }
}

@media (min-width : 425px) and (max-width: 768px){
    .container_error{
        width: 60%;
        height: 150px;
    }
    .tittle1{
        font-size: 20px;
    }
    .img1{
        width: 60px;

    }
}

@media (min-width : 768px) and (max-width: 1024px){
    .container_error{
        width: 80%;
        height: 200px;
    }
    .tittle1{
        font-size: 25px;
    }
    .img1{
        width: 80px;
    }
}

@media (min-width : 1024px) and (max-width: 1600px){
    .container_error{
        width: 100%;
        height: 250px;
    }
    .tittle1{
        font-size: 30px;
    }
    .img1{
        width: 100px;
    }
}