body {
  margin: 0;
  padding: 0;
  background: #18191a;
  color: #e7c100;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

