
.columna1 { grid-area: columna1; }
.columna2 { grid-area: columna2; }
.columna3 { grid-area: columna3; }
#text_todo{
    color: transparent;
}

.TodoItem{
    background-color: #242526;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 5px;
    padding: 16px 16px 8px 16px;
    -webkit-box-shadow: -1px -1px 33px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 33px -6px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 33px -6px rgba(0,0,0,0.75);
    
    width: 80%;
    

}
.grid_container{
    display: grid;
    grid-template-columns: auto 1fr 40px auto;
    align-items: center;
    gap: 10px;
}
.icon{
    cursor: pointer;
}
.Icon-check {
    transform: rotate(0);
    transition: .9s ease;
}
.Icon-check:hover {
    transform: scale(1.1);
    transform: rotate(-360deg);
}
.Icon-delete {
    fill: #B0B3B8;
}
.Icon-delete:hover {
    fill: #e7c100;
}
.Icon_edit{
    cursor: pointer;
    transform: rotate(225deg);
}

.Icon-delete {
    fill: #B0B3B8;
}
.Icon-delete:hover {
    fill: #e7c100;
}
.container_Todo_Name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    margin-left: 16px;
}
.TodoItem-p {
    line-height: 24px;
    font-weight: 400;
    color: #b0b3b8;
    width: 510px;
    text-align: justify;
    margin: 12px 5px 12px 0px;
}

.TodoItem-p1{
    margin: 0;
    font-weight: 700;

    color: #e7c100;
    background-color: #e7c1001e;
    padding: 1px 4px;
    width: auto;
    border-radius: 5px;
}
.TodoItem-p--complete {
    text-decoration: line-through;
    color: rgb(117, 116, 116);
}
.Icon-check {
    cursor: pointer;
    transform: rotate(0);
    transition: .9s ease;
}
.Icon-check:hover {
    transform: scale(1.1);
    transform: rotate(-360deg);
}
.Icon-delete {
    cursor: pointer;
    fill: #B0B3B8;
    position: sticky;
    bottom: 680px;
}
.Icon-delete:hover {
    fill: #e7c100;
}



@media (min-width : 300px) and (max-width: 374px){
    .TodoItem {
        min-height: 45px;
    }
    .TodoItem-p{
        font-size: 18px;
        width: 123px;

    }
    .TodoItem-p1{
        font-size: 14px;
    }
    .Icon-check{
        width: 30px;
    }
    .Icon-delete{
        width: 11px;
        height: 11px;
    }
    .Icon_edit{
        height: 30px;
    }
    .Icon_edit:hover {
        height: 35px;
    }
}

@media (min-width : 375PX) and (max-width: 424px){
    .TodoItem {
        min-height: 45px;
    }
    .TodoItem-p{
        font-size: 20px;
        width: 183px;
    }
    .TodoItem-p1{
        font-size: 16px;
    }
    .Icon-check{
        width: 30px;
    }
    .Icon-delete{
        width: 11px;
        height: 11px;
    }
    .container_Todo_Name{
        left: 15%;
    }
    .Icon_edit{
        height: 30px;
    }
    .Icon_edit:hover {
        height: 35px;
    }
}
@media (min-width : 425PX) and (max-width: 550px){
    .TodoItem {
        min-height: 50px;
    }
    .TodoItem-p{
        width: 206px;
        font-size: 22px;
    }
    .TodoItem-p1{
        font-size: 18px;
    }
    .Icon-check{
        width: 35px;
    }
    .Icon-delete{
        width: 13px;
        height: 13px;
    }
    .container_Todo_Name{
        left: 15%;
    }
    .Icon_edit{
        height: 35px;
    }
    .Icon_edit:hover {
        height: 40px;
    }
}

@media (min-width : 550PX) and (max-width: 768px){
    .TodoItem {
        min-height: 50px;
    }
    .TodoItem-p{
        width: 306px;
        font-size: 22px;
    }
    .TodoItem-p1{
        font-size: 18px;
    }
    .Icon-check{
        width: 35px;
    }
    .Icon-delete{
        width: 13px;
        height: 13px;
    }
    .container_Todo_Name{
        left: 10%;
    }
    .Icon_edit{
        height: 35px;
    }
    .Icon_edit:hover {
        height: 40px;
    }
}
/* d */
@media (min-width: 769px) and (max-width: 820px){
    .TodoItem {
        min-height: 65px;
    }
    .TodoItem-p{
        width: 476px;
        font-size: 24px;
    }
    .TodoItem-p1{
        font-size: 20px;
    }
    .Icon-check{
        width: 35px;
    }
    .Icon-delete{
        width: 13px;
        height: 13px;
    }
    .container_Todo_Name{
        left: 10%;
    }
    .Icon_edit{
        height: 40px;
    }
    .Icon_edit:hover {
        height: 45px;
    }
}
@media (min-width: 820px) {
    .TodoItem {
        min-height: 75px;
    }
    .TodoItem-p{
        width: 517px;
        font-size: 24px;
    }
    .TodoItem-p1{
        font-size: 20px;
    }
    .Icon-check{
        width: 35px;
    }
    .Icon-delete{
        width: 13px;
        height: 13px;
    }
    .container_Todo_Name{
        left: 10%;
    }
    .Icon_edit{
        height: 40px;
    }
    .Icon_edit:hover {
        height: 45px;
    }
}

